@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    box-sizing: border-box;
}

.main {
    margin: 1rem;
    background-color: wheat;
    border-radius: 20px;
}

.main-display {
    display: flex;
}

.alertBox {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

.alertBox p {
    text-align: center;
    padding-left: 1rem;
}

.alertBox .cross-btn {
    cursor: pointer;
    font-size: 16px;
    padding: 1.4rem 1rem 0rem 1rem;
}

.container {
    padding: 2rem;
    text-align: center;
    margin: auto;
    width: 90%;
    max-width: 600px;
}

.content h1 {
    font-size: 38px;
}

.content p {
    font-size: 20px;
    font-weight: 500;
}

.container label {
    font-size: 18px;
    font-weight: 400;
}

.content input {
    padding: 0.3rem;
    height: 1.5rem;
    margin: 0.8rem auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.content button {
    margin-top: 1.5rem;
    font-size: 20px;
    padding: 0.5rem;
    width: 8rem;
    border-radius: 10px;
}

.output {
    display: none;
    padding-top: 1rem;
}

#sm-opt {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    padding: 0.5rem 0.3rem;
    max-width: 600px;
}

img {
    margin: 1rem;
    width: 100%;
    max-width: 600px;
}

.image {
    display: block;
    margin-right: 5rem;
}

#img-sad {
    display: none;
}

#img-happy {
    display: none;
}

@media only screen and (max-width: 600px) {
    .image {
        display: none;
    }
}


/* Footer */

.footer {
    margin: 1rem 2rem 0rem 2rem;
    border-top: 2px solid black;
}

.footer div {
    color: black;
    text-align: center;
}

.footer p {
    font-size: 20px;
    font-weight: 500;
}

.footer a {
    padding-inline: 1rem;
    font-size: 29px;
    color: black;
    text-decoration: none;
}

.footer .with-para {
    padding-inline: 0rem;
    font-size: 20px;
    color: black;
    text-decoration: none;
}